#top h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
    text-align: center;
}
#top p {
    font-family: 'Lora', serif;
    text-align: center;
}
#middle img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
  }
.center {
    margin: auto;
    width: 70%;
    border: 3px solid green;
    padding: 10px;
}
 #bottom p {
   
 }
