body {
  background-color: #f9f5ed;
}

#top {
  color: #33334d;
}

#top h1 {
    font-family: 'Poppins', sans-serif;
    /*text-transform: lowercase;*/
    text-align: center;
    text-shadow:0px 21px #e0b2a0;
}
#top p {
    font-family: 'Lora', serif;
    text-align: center;
}
#middle img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}
.center {
    margin: auto;
    width: 90%;
    border: 53px solid #c9a45c;
    padding: 0px;
}