#top h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
    text-align: center;
}
#top p {
    font-family: 'Lora', serif;
    text-align: center;
}
#middle img {
  align: center;
  width: 100%;
}
